.menu {
	width: 100%;
	height: 70px;
	background: #E47500;
}

body{
	background: #E8B542;
	color: #3F5361;
}

.margen {
	margin-left: 10%;
}

.bloque-izquierda {
	float: left;
}

.menu-link {
	width: 100px;
	height: 100%;
	background: #E47500;
	font-size: 120%;
	/*border: 1px solid;*/
	text-align: center;
}

a {
	text-decoration: none;
	color: #3F5361;
}